################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/мишки/StoreTeddyBear/.vs
/StoreTeddyBear/.vs
